header input[type=submit], header input[type=submit]:hover
{
    background-color: inherit;
    border: none;
    text-decoration: none;
}
input[type=submit]
{
    background-color: #7A9A01;
    border: none;
    text-decoration: none;
}
input[type=submit]:hover
{
    background-color: #97D700;
}
table
{
    border-collapse: collapse;
}
table, th, td
{
    border: 1px solid black;
}
th
{
    background-color: #6DCDB8;
}
