header input[type=submit]
{
    background-color: inherit;
    border: none;
    text-decoration: none;
}
input[type=submit]
{
    background-color: #7A9A01;
    border: none;
    text-decoration: none;
}
input[type=submit]:hover
{
    background-color: #97D700;
}
table
{
    align: center;
}
