<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Home</title>
</head>

<body>
  <header>
    <!-- Top menu -->
    <div class="w3-top">
      <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
        <div class="w3-button w3-right w3-padding-16">
          <form action='/logout'>
            <input type='submit' name='logout' value='Logout'/>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">  
      <h3><b>Welcome to pyBase, {{username}}!</b></h3>
    </div>
    <div class="w3-container w3-padding-32 w3-center">
      <h4>Students</h4>
      <form action='/insert-student'>
        <input type='submit' name='insert-student' value='Create Student'>
      </form>
      <br>
      {% if students != None %}
      <table align='center' class="tablesorter">
        <thead>
          <tr>
            <th onclick='sortTable(0)'>Student ID</th>
            <th onclick='sortTable(1)'>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <td><a href="{{url_for('student', student_id=student.student_id)}}">{{student.student_id}}</a></td>
            <td>{{student.name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>Currenly no students in the database.</h3>
      {% endif %}
    </div>
    <hr>

    <footer>

    </footer>
  </div>
</body>
</html>
