<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' type='text/css' href='static/index.css'>
    <title>Login</title>
</head>

<body>
    <header>
        <img class='logo' src="{{url_for('static', filename='stonehill_logo.jpg')}}">
        <h1>Stonehill College pyBase</h1>
    </header>

    <main>
        <h1>Login</h1>
        <form action='/' method='post'>
            <h3>Username</h3>
            <input type='text' placeholder='Enter Username' name='username' required>
            <h3>Password</h3>
            <input type='password' placeholder='Enter Password' name='password' required>
            <br>
            <br>
            <input class='login_button' type='submit' value='Login'>
        </form>
        <br>
        {% if error %}
        {{error}}
        {% endif %}
        <br>
        <form action='create' method='get'>
            <input class='create_button' type='submit' value='Create Account'>
        </form>
    </main>
</body>

<footer>

</footer>
</html>

