<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Insert Grade</title>
</head>

<body>
    <header>
        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
                <div class="w3-button w3-right w3-padding-16">
                    <form action='/logout'>
                        <input type='submit' name='logout' value='Logout'/>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        <!-- About Section -->
        <div class="w3-container w3-padding-32 w3-center">
            <h3><b>Insert Grade</b></h3>
        </div>
        <div class="w3-container w3-padding-32 w3-center">
            <form action='/insert-grade' method='post'>
                <h4>Student ID*</h4>
                <input type='text' name='student_id' required>
                <br>
                <h4>Course ID*</h4>
                <input type='tel' name='course_id' required>
                <br>
                <h4>Grade</h4>
                <input type='text' name='grade'>
                <br>
                <br>
                <input type='submit' name='insert-grade' value='Create Grade'>
            </form>
        </div>
        <hr>

        <footer>

        </footer>
    </div>
</body>
</html>
