<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Insert Course</title>
</head>

<body>
    <header>
        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
                <div class="w3-button w3-right w3-padding-16">
                    <form action='/logout'>
                        <input type='submit' name='logout' value='Logout'/>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        <!-- About Section -->
        <div class="w3-container w3-padding-32 w3-center">
            <h3><b>Insert Course</b></h3>
        </div>
        <div class="w3-container w3-padding-32 w3-center">
            <form action='/insert-student' enctype=multipart/form-data method='post'>
                <h4>Course ID*</h4>
                <input type='text' name='course_id'>
                <br>
                <h4>Name*</h4>
                <input type='text' name='name'>
                <br>
                <h4>Department*</h4>
                <input type='tel' name='department'>
                <br>
                <h4>Professor*</h4>
                <input type='text' name='professor'>
                <br>
                <h4>Classroom*</h4>
                <input type='text' name='classroom'>
                <br>
                <br>
                <input type='submit' name='insert-student' accept='image/*' value='Create Course'>
            </form>
        </div>
        <hr>

        <footer>

        </footer>
    </div>
</body>
</html>
