<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{{student.name}}</title>
</head>

<body>
    <header>
        <!-- Top menu -->
        <div class="w3-top">
            <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
                <div class="w3-button w3-right w3-padding-16">
                    <form action='/logout'>
                        <input type='submit' name='logout' value='Logout'/>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        <!-- About Section -->
        <div class="w3-container w3-padding-32 w3-center">
            <h3><b>{{student.name}}</b></h3>
            <h4>Student ID</h4>
            <p>{{student.student_id}}</p>
            <h4>Major</h4>
            <p>{{student.major}}</p>
            <h4>Minor</h4>
            <p>{{student.minor}}</p>
            <h4>Phone</h4>
            <p>{{student.phone}}</p>
            <h4>Street</h4>
            <p>{{student.street}}</p>
            <h4>City</h4>
            <p>{{student.city}}</p>
            <h4>State</h4>
            <p>{{student.state}}</p>
            <h4>Zip Code</h4>
            <p>{{student.zip_code}}</p>
        </div>
        <div class="w3-container w3-padding-32 w3-center">
            <form method='post' action="{{url_for('deleteStudent', student_id=student.student_id)}}">
                <input type='submit' name='delete-student' value='Delete Student'>
            </form>
        </div>
        <hr>

        <footer>

        </footer>
    </div>
</body>
</html>
